extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a' href='/') Heim
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Ítarleg leit
    li(class='topnav-li')
      a(class='topnav-a-active' href='/calc') Reiknivél
  if checker == 7
    div(class='calc-top-container')
        h1(class='calc-top') Reiknivél fyrir mana kostnað
        p(class='calc-p-input') Hjálpar þér að finna út nákvæmlega hversu mikið mana þú átt að hafa af hverjum lit
    form(method='post', action='/calc')
      div(class='calc-stats')
        div(class='calc-name-fit')
          p(class='calc-p-input') Hvaða liti ertu með í stokknum þínum?
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='blactext')   Svarta
              |  mana tákna:
            div(class='calc-input')
              img(src='/images/BlackMana.jpg', class='icon')
              input(type='number', name="black" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='bluetext')  Blárra
              |  mana tákna:
            div(class='calc-input')
              img(src='/images/BlueMana.jpg', class='icon')
              input(type='number', name="blue" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='redtext')  Rauðra
              |  mana tákna:
            div(class='calc-input')
              img(src='/images/RedMana.jpg', class='icon')
              input(type='number', name="red" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='greentext')  Grænna
              |  mana tákna:
            div(class='calc-input')
              img(src='/images/GreenMana.jpg', class='icon')
              input(type='number', name="green" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='whitetext')  Hvítra
              |  mana tákna:
            div(class='calc-input')
              img(src='/images/WhiteMana.jpg', class='icon')
              input(type='number', name="white" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='greytext')  Litlausa
              |  mana tákna:
            div(class='calc-input')
              img(src='/images/GreyMana.jpg', class='greyicon')
              input(type='number', name="grey" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input') Fjöldi landa í stokknum þínum:
            div(class='calc-input')
              input(type='number', name='lands' ,class='calc-land-input', min='1', placeholder='23', required)
      div(class='calc-submit-fit')
        div(class='calc-submit')
          button(type='submit', class='calc-submit-button') LEITA

  else if checker !== 6
    div(class='calc-top-container')
        h1(class='calc-top') útkoman úr Reiknivélinni
        p(class='calc-p-input') Þetta er fjöldi landa af hverjum lit sem þú ættir að hafa
    div(class='calc-stats')
      div(class='calc-outcome-container')
        if black
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='blacktext')  Svartra
              |  landa:
            div(class='calc-input')
              img(src='/images/BlackMana.jpg', class='icon-result')
              p(class='calc-num-input-black') #{black}
        if blue
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='bluetext')  Blárra
              |  landa:
            div(class='calc-input')
              img(src='/images/BlueMana.jpg', class='icon-result')
              p(class='calc-num-input-blue') #{blue}
        if red
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='redtext')  Rauðra
              |  landa:
            div(class='calc-input')
              img(src='/images/RedMana.jpg', class='icon-result')
              p(class='calc-num-input-red') #{red}
        if green
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='greentext')  Grænna
              |  landa:
            div(class='calc-input')
              img(src='/images/GreenMana.jpg', class='icon-result')
              p(class='calc-num-input-green') #{green}
        if white
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='whitetext')  Hvíta
              |  landa:
            div(class='calc-input')
              img(src='/images/WhiteMana.jpg', class='icon-result')
              p(class='calc-num-input-white') #{white}
        if grey
          div
            p(class='calc-p-input')
              |Fjöldi
              span(class='greytext')  Litlausa
              |  landa:
            div(class='calc-input')
              img(src='/images/GreyMana.jpg', class='icon-result')
              p(class='calc-num-input-grey') #{grey}
        if extra
          div
            p(class='calc-p-input')
              |Þú ræður hvaða lit
            div(class='calc-input')
              img(src='/images/GreyMana.jpg', class='icon-result')
              p #{extra}
    form(method='get', action='/calc')
      div(class='calc-submit-fit')
        div(class='calc-submit')
          button(type='submit', class='calc-submit-button') Reikna aftur
  else if checker == 6
    div(class='calc-top-container')
        h1(class='calc-top') Því miður
        p(class='calc-p-input') Ekki hægt að reikna með þessum upplýsingum
    div(class='calc-nostats')
      p(class='calc-p-input') Þú slóst ekki inn fjölda mana tákna
    form(method='get', action='/calc')
      div(class='calc-submit-fit')
        div(class='calc-submit')
          button(type='submit', class='calc-submit-button') Reikna aftur
