extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a' href='/') Home
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Advanced search
    li(class='topnav-li')
      a(class='topnav-a-active' href='/calc') Calculator
  if checker == 7
    div(class='calc-top-container')
        h1(class='calc-top') Mana calculator
        p(class='calc-p-input') Helps you figure out excatcty how much mana of each color you need
    form(method='post', action='/calc')
      div(class='calc-stats')
        div(class='calc-name-fit')
          h1(class='calc-top') What Colors do you have in your deck?
          div
            p(class='calc-p-input')
              |Number of
              span(class='blacktext')   Swamp
              |  mana symbols:
            div(class='calc-input')
              img(src='/images/BlackMana.jpg', class='icon')
              input(type='number', name="black" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Number of
              span(class='bluetext')  Island
              |  mana symbols:
            div(class='calc-input')
              img(src='/images/BlueMana.jpg', class='icon')
              input(type='number', name="blue" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Number of
              span(class='redtext')  Mountain
              |  mana symbols:
            div(class='calc-input')
              img(src='/images/RedMana.jpg', class='icon')
              input(type='number', name="red" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Number of
              span(class='greentext')  Forest
              |  mana symbols:
            div(class='calc-input')
              img(src='/images/GreenMana.jpg', class='icon')
              input(type='number', name="green" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Number of
              span(class='whitetext')  Plains
              |  mana symbols:
            div(class='calc-input')
              img(src='/images/WhiteMana.jpg', class='icon')
              input(type='number', name="white" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input')
              |Number of
              span(class='greytext')  Colorless
              |  mana symbols:
            div(class='calc-input')
              img(src='/images/GreyMana.jpg', class='greyicon')
              input(type='number', name="grey" min='1', placeholder=0, class='calc-number-input')
          div
            p(class='calc-p-input') Number of lands in your deck
            div(class='calc-input')
              input(type='number', name='lands' ,class='calc-land-input', min='1', placeholder='23', required)
      div(class='calc-submit-fit')
        div(class='calc-submit')
          button(type='submit', class='calc-submit-button') Calculate

  else if checker !== 6
    div(class='calc-top-container')
        h1(class='calc-top') Outcome
        p(class='calc-p-input') This is the amount of lands you should have of each color
    div(class='calc-stats-container')
      div(class='calc-stats-left')
        div(class='calc-outcome-container')
          div
            p(class='calc-p-input')
              |Number of symbols:
          if black
            div
              p(class='calc-p-input')
                |Number of
                span(class='blacktext')  Swamp
                |  symbols:
              div(class='calc-input')
                img(src='/images/BlackMana.jpg', class='icon-result')
                p(class='calc-num-input-black') #{black}
          if blue
            div
              p(class='calc-p-input')
                |Number of
                span(class='bluetext')  Island
                |  symbols:
              div(class='calc-input')
                img(src='/images/BlueMana.jpg', class='icon-result')
                p(class='calc-num-input-blue') #{blue}
          if red
            div
              p(class='calc-p-input')
                |Number of
                span(class='redtext')  Mountain
                |  symbols:
              div(class='calc-input')
                img(src='/images/RedMana.jpg', class='icon-result')
                p(class='calc-num-input-red') #{red}
          if green
            div
              p(class='calc-p-input')
                |Number of
                span(class='greentext')  Forest
                |  symbols:
              div(class='calc-input')
                img(src='/images/GreenMana.jpg', class='icon-result')
                p(class='calc-num-input-green') #{green}
          if white
            div
              p(class='calc-p-input')
                |Number of
                span(class='whitetext')  Plains
                |  symbols:
              div(class='calc-input')
                img(src='/images/WhiteMana.jpg', class='icon-result')
                p(class='calc-num-input-white') #{white}
          if grey
            div
              p(class='calc-p-input')
                |Number of
                span(class='greytext')  Waste
                |  symbols:
              div(class='calc-input')
                img(src='/images/GreyMana.jpg', class='icon-result')
                p(class='calc-num-input-grey') #{grey}
          div
            p(class='calc-p-input')
              |Number of lands in deck:
            div(class='calc-input')
              //img(src='/images/GreyMana.jpg', class='icon-result')
              p #{lands}
      div(class='calc-stats-right')
        div(class='calc-outcome-container')
          div
            p(class='calc-p-input')
              |Number of Lands
          if blackCalc
            div
              p(class='calc-p-input')
                |Number of
                span(class='blacktext')  Swamp
                |  lands:
              div(class='calc-input')
                img(src='/images/BlackMana.jpg', class='icon-result')
                p(class='calc-num-input-black') #{blackCalc}
          if blueCalc
            div
              p(class='calc-p-input')
                |Number of
                span(class='bluetext')  Island
                |  lands:
              div(class='calc-input')
                img(src='/images/BlueMana.jpg', class='icon-result')
                p(class='calc-num-input-blue') #{blueCalc}
          if redCalc
            div
              p(class='calc-p-input')
                |Number of
                span(class='redtext')  Mountain
                |  lands:
              div(class='calc-input')
                img(src='/images/RedMana.jpg', class='icon-result')
                p(class='calc-num-input-red') #{redCalc}
          if greenCalc
            div
              p(class='calc-p-input')
                |Number of
                span(class='greentext')  Forest
                |  lands:
              div(class='calc-input')
                img(src='/images/GreenMana.jpg', class='icon-result')
                p(class='calc-num-input-green') #{greenCalc}
          if whiteCalc
            div
              p(class='calc-p-input')
                |Number of
                span(class='whitetext')  Plains
                |  lands:
              div(class='calc-input')
                img(src='/images/WhiteMana.jpg', class='icon-result')
                p(class='calc-num-input-white') #{whiteCalc}
          if greyCalc
            div
              p(class='calc-p-input')
                |Number of
                span(class='greytext')  Waste
                |  lands:
              div(class='calc-input')
                img(src='/images/GreyMana.jpg', class='icon-result')
                p(class='calc-num-input-grey') #{greyCalc}
          if extraCalc
            div
              p(class='calc-p-input')
                |Any color you want
              div(class='calc-input')
                img(src='/images/GreyMana.jpg', class='icon-result')
                p #{extra}
    form(method='get', action='/calc')
      div(class='calc-submit-fit')
        div(class='calc-submit')
          button(type='submit', class='calc-submit-button') Restart
  else if checker == 6
    div(class='calc-top-container')
        h1(class='calc-top') whooopsssssss
        p(class='calc-p-input') Not enough information to calculate
    div(class='calc-nostats')
      p(class='calc-p-input') You forgot to input how many mana symbols you have
    form(method='get', action='/calc')
      div(class='calc-submit-fit')
        div(class='calc-submit')
          button(type='submit', class='calc-submit-button') Try again
