extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a' href='/') Home
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Advanced search
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Calculator
    li(class='topnav-li')
      a(class='topnav-a-active') Your cards
  div(class='info-wrapper')
    each item in card
      div(class='info-left')
        h1= item.name
        img(src= ""+item.imageUrl onerror="this.style.display='none'" class='info-img')
      div(class='info-right')
        table(class='info-table')
          if item.manaCost
            tr
              td Manacost:
              td #{item.manaCost}
          if item.cmc
            tr
              td Converted manacost:
              td #{item.cmc}
          if item.colors
            tr
              td Colors:
              td #{item.colors}
          else
            tr
              td Colors:
              td Colorless
          if item.colorIdentity
            tr
              td Color Identity:
              td #{item.colorIdentity}
          if item.supertypes
            tr
              td Supertype:
              td #{item.supertypes}
          tr
            td Type:
            td #{item.types}
          if item.subtypes
            tr
              td Subtype:
              td #{item.subtypes}
          tr
            td Rarity:
            td #{item.rarity}
          tr
            td Set:
            td #{item.setName}
          tr
            td Text:
            td #{item.text}
          if item.flavor
            tr
              td Flavor:
              td
                i #{item.flavor}
          tr
            td Artist:
            td #{item.artist}
          if item.power
            tr
              td Power and toughness:
              td #{item.power} / #{item.toughness}
          if item.loyalty
            tr
              td loyalty:
              td #{item.loyalty}
  form(method='get', action='/advancedsearch')
    div(class='calc-submit-fit')
      div(class='calc-submit')
        button(type='submit', class='calc-submit-button') Search again
